@import "application.scss";

/*----- Para -----*/

.div-one {
  min-height: 400px;
  color: $primary;
}

.para{
  width: 50%;
  float: left;
}


@media screen and (max-width: 400px) {
	.para{
	  width: 100%;
	  margin-bottom: 10%;
	}
}