@import "application.scss";

/*----- Para -----*/

.div-one {
  min-height: 400px;
  color: $primary;
  text-align :justify;

}

.para{
  width: 45%;
  float: left;
  padding-right: 5%;
}


@media screen and (max-width: 400px) {
	.para{
	  width: 100%;
	  margin-bottom: 10%;
	}
}